.recipe-card {
  display: flex;
  background-color: #fff;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
}

.recipe-card-image {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px;
}

.recipe-card-image img {
  margin: 10px;
  width: 12vw;
  height: 12vw;
  border: solid 3px teal;
}

.recipe-card-info {
  display: flex;
  width: 80%;
}

.recipe-card-info-left {
  width: 25%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-card-info-left a {
  text-decoration: none;
  background-color: teal;
  color: #fff;
  padding: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 50vh;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.recipe-card-info-left a:hover {
  background-color: #00b9b9;
  transform: scale(1.05);
}

.recipe-card-info-left a span {
  color: #fff;
  transition: color 0.2s ease;
}
.recipe-card-info-left a:hover span {
  color: #ffad7a;
}

.recipe-card-icon {
  color: #ffad7a;
  margin-right: 10px;
}

.recipe-card-info-middle {
  width: 45%;
  padding: 30px 10px 30px 30px;
}

.recipe-card-info-right {
  width: 40%;
  height: fit-content;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-card-info-right p {
  background: #eee;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  height: 24px;
  line-height: 16px;
  padding: 4px 6px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}
