.recipe-card {
  display: grid;
  grid-template-columns: 2% 96%;
  column-gap: 2%;
  background-color: #fff;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
}

.recipe-card-dishtype {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.recipe-card-dishtype p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.recipe-card-info-wrapper {
  display: grid;
  grid-template-columns: 14% 20% 40% 20%;
  column-gap: 2%;
  padding: 20px 20px 20px 0;
}

.recipe-card-image img {
  width: 100%;
  border: solid 3px teal;
}

.recipe-card-overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  border-left: solid 1px #666;
}

.recipe-card-overview a {
  text-decoration: none;
  background-color: teal;
  color: #fff;
  padding: 10px;
  height: fit-content;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 50vh;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.recipe-card-overview a:hover {
  background-color: #00b9b9;
  transform: scale(1.05);
}

.recipe-card-overview a:active {
  color: black;
}

.recipe-card-overview a span {
  color: #fff;
  transition: color 0.2s ease;
}
.recipe-card-overview a:hover span {
  color: #ffad7a;
}

.recipe-card-icon {
  color: #ffad7a;
  margin-right: 10px;
}

.recipe-card-ingredients {
  padding: 0 30px;
  border-right: solid 1px #666;
}

.recipe-card-tags {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.recipe-card-tags p {
  background: #eee;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  height: 24px;
  line-height: 16px;
  padding: 4px 6px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  font-size: 12px;
}
