.recipe-card {
  display: grid;
  grid-template-columns: 2% 96%;
  background-color: #fff;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
}

.recipe-card-dishtype {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.recipe-card-dishtype p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.recipe-card-info-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 42% 3%;
  column-gap: 2%;
}

.recipe-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe-card-overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
}

.recipe-card-overview a {
  text-decoration: none;
  background-color: teal;
  color: #fff;
  padding: 10px;
  height: fit-content;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 50vh;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.recipe-card-overview a:hover {
  background-color: #00b9b9;
  transform: scale(1.05);
}

.recipe-card-overview a:active {
  color: black;
}

.recipe-card-overview a span {
  color: #fff;
  transition: color 0.2s ease;
}
.recipe-card-overview a:hover span {
  color: #ffad7a;
}

.recipe-card-title {
  margin-top: 0;
  text-align: left;
}

.recipe-card-icon {
  color: #ffad7a;
  margin-right: 10px;
}

.recipe-card-cuisine-type {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.health-tooltip-icon {
  color: teal;
  font-size: 24px;
  margin: 20px 0;
  height: fit-content;
  border-radius: 50vh;
}

.health-tooltip-icon p {
  font-size: 16px;
}

.health-tooltip-icon:hover {
  color: var(--mainColor1Hover);
}

.recipe-card-ingredients {
  padding: 20px 30px;
}
