.search-page-wrapper {
  background-color: #fff;
  padding: 3%;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  display: flex;
  justify-content: center;
  gap: 15%;
}

.search-form-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.search-form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.search-form-wrapper form input {
  height: 40px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 36px;
  border: 2px solid #ddd;
  width: 100%;
}

.search-line-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form-wrapper form select {
  height: 40px;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  border: 2px solid #ddd;
  padding-left: 4px;
  width: 70%;
}

.search-form-wrapper form details {
  width: 100%;
}

.dropdown-button {
  cursor: pointer;
  border: 2px solid #ddd;
  height: 40px;
  background-color: white;
  width: 100%;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  list-style: none;
  display: flex;
  justify-content: end;
}

.dropdown-button::after {
  content: "";
  width: 0;
  height: 0;
  margin-top: 4px;
  margin-left: 27%;
  margin-right: 1%;
  border-top: 8px solid #15171b;
  border-inline: 5px solid transparent;
  transition: transform 0.3s ease;
}

details[open] > summary::after {
  transform: rotate(-180deg);
}

.dropdown-content {
  border: 1px solid #ccc;
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.dropdown-content label {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 1em auto;
  align-items: center;
  gap: 3px;
  padding: 3px;
  font-size: 14px;
  height: 30px;
}

.dropdown-content label input {
  height: 15px;
}

.search-buttons {
  display: flex;
  justify-content: right;
  gap: 2%;
  width: 100%;
}

.preset-buttons button,
.search-buttons button {
  text-decoration: none;
  border: none;
  background-color: teal;
  color: #fff;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 50vh;
  transition: background-color 0.2s ease, transform 0.2s ease;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.preset-buttons button:hover,
.search-buttons button:hover {
  background-color: #00b9b9;
  transform: scale(1.05);
  cursor: pointer;
}

.preset-buttons button:active,
.search-buttons button:active {
  color: black;
}

.preset-buttons button span,
.search-buttons button span {
  color: #fff;
  transition: color 0.2s ease;
}

.preset-buttons button:hover span,
.search-buttons button:hover span {
  color: #ffad7a;
}

.preset-buttons {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.preset-buttons button {
  min-width: 100%;
}
