* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  --mainColor1: teal;
  --mainColor2: #ffad7a;
  --mainColor2Hover: #ff6300;
  --mainColor1Hover: #00b9b9;
  --boxShadow: #999;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

nav {
  height: 5vh;
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px var(--boxShadow);
  z-index: 1;
}

.navbar-image {
  height: 4vh;
  margin-left: 100px;
}

nav ul {
  display: flex;
  margin-right: 200px;
  border-left: 1px solid #999;
  padding: 5px 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  color: #333;
  border-right: 1px solid #999;
  transition: box-shadow 0.2s ease;
}

nav ul li a:hover {
  box-shadow: 0 0 5px var(--boxShadow);
}

nav ul li a:active {
  background-color: #ddd;
}

.login {
  background-color: var(--mainColor1);
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50vh;
  color: #fff;
  box-shadow: 0 0 10px var(--boxShadow);
  transition: background-color 0.2s ease;
  border-right: none;
  font-size: 16px;
}

.login:hover {
  background-color: var(--mainColor1Hover);
  box-shadow: 0 0 10px var(--boxShadow);
}

.login:active {
  color: #333;
}

.main-content-container {
  display: flex;
  width: 100%;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--boxShadow);
}

.main-container {
  padding: 5vh 0 0 15vw;
  width: 100%;
  background-color: #eee;
  min-height: 95vh;
}

.main-container.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  pointer-events: none;
}

.main-container.loading .loading-screen {
  display: flex;
}

.loading-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  position: absolute;
  left: 50vw;
}

.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #008080) content-box;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 16px),
      #000 calc(100% - 14px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}

.header-wrapper {
  background-image: url(../images/banner.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--boxShadow);
}

.credit {
  font-weight: 500;
}

.recipe-card-title {
  color: #555;
}

h3 {
  color: #555;
  text-align: center;
  margin-top: 30px;
}

.search-results-query span {
  font-style: italic;
  font-weight: 400;
}

.search-results-query span p {
  margin-top: 5px;
  font-size: 16px;
}

.no-result {
  text-align: center;
  margin: 5% 20%;
  padding: 50px;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--boxShadow);
}

.tooltip-icon-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: -20px;
  left: -310px;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 300px;
  z-index: 1;
}
