* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #999;
}

nav img {
  height: 80%;
  margin-left: 100px;
}

nav ul {
  display: flex;
  margin-right: 200px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  color: #333;
  border-right: 1px solid #999;
  transition: box-shadow 0.3s ease;
}

nav ul li a:hover {
  box-shadow: 0 0 5px #999;
}

nav ul li a:active {
  background-color: #ddd;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #999;
}

.home-container {
  display: flex;
  height: 100%;
  overflow-x: hidden;
}

.home-left {
  width: 40vw;
}

.home-left header {
  display: flex;
  gap: 2%;
  margin-left: 10%;
  margin-top: 20%;
}

.home-logo {
  max-width: 100px;
}

.home-title {
  max-width: 400px;
}

.home-left div {
  margin: 2% 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-left div p {
  line-height: 2;
  font-size: 18px;
  padding: 30px;
  box-shadow: 0 0 10px #999;
  border-radius: 10px;
}

.home-left div a {
  background-color: #7ed957;
  padding: 20px;
  margin-top: 5%;
  width: 150px;
  text-align: center;
  text-decoration: none;
  border-radius: 50vh;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 0 10px #999;
  transition: transform 0.2s ease;
}

.home-left div a:hover {
  transform: scale(1.1);
}

.home-left div a:active {
  background-color: #5ea141;
}

.home-right {
  background-color: #7ed957;
  z-index: -1;
  width: 60vw;
  height: 90vh;
  padding-right: 50px;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.home-right div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.home-right div img {
  height: 240px;
  width: 240px;
  object-fit: cover;
  border-radius: 20px;
  border: #333 1px solid;
  box-shadow: 0 0 6px #333;
}

.home-right .top {
  animation: home-right-top 30s linear infinite;
}

@keyframes home-right-top {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

.home-right .bottom {
  animation: home-right-bottom 30s linear infinite;
}

@keyframes home-right-bottom {
  0% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
